/*
=======================================
MOBILE FIRST WEB DESIGN
Use these industry standard breakpoints
to build responsive web pages and sites.
Style layouts for small screens first,
then add complexity for larger screens.
=======================================
*/

/* Use this standard to ensure that
   all browsers have the same base styles */

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
/* Enter universal style rules first,
   plus rules for the smallest screens */

body {
  margin: auto;
  background-color: #eee;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
}

.mainText {
  width: 90% margin: auto;
  text-align: justify;
}

.centered-content {
  margin: auto;
}

h1 {
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
  color: #999;
}

img {
  width: 100%;
  height: auto;
  border: 1px solid #000;
}

figcaption {
  font-style: italic;
  font-family: sans-serif;
  text-align: center;
}

.image-div {
  position: relative;
  width: 100%;
  height: auto;
}

.image-div2 {
  position: relative;
  width: 100%;
  height: auto;
}

.image-div3 {
  position: relative;
  width: 100%;
  height: auto;
}

.image-div4 {
  position: relative;
  width: 100%;
  height: auto;
}

.hotspot {
  position: absolute;
  width: 15px;
  height: 15px;
  text-align: center;
  padding: 10px;
  color: #666;
  background: #ccc;
  opacity: .6;
  font-family: sans-serif;
  font-weight: bold;
  outline: none;
  border: 2px solid #fff;
  border-radius: 100px;
  cursor: pointer;
}

.hotspot a {
  text-decoration: none;
}

#dotA {
  top: 55%;
  left: 50%;
}

#dotB {
  top: 40%;
  left: 78%;
}

#xanA {
  top: 10%;
  left: 20%;
}

#xanB {
  top: 80%;
  left: 63%;
}

#peepA {
  top: 10%;
  left: 46%;
}

#peepB {
  top: 68%;
  left: 5%;
}

#purpA {
  top: 50%;
  left: 80%;
}

#purpB {
  top: 45%;
  left: 5%;
}

.popIn {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  padding: 70px 15px 30px 15px;
  font-size: 1.5em;
  text-align: center;
  color: green;
  height: 100%;
}

.popIn2 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  padding: 70px 15px 30px 15px;
  font-size: 1.5em;
  text-align: center;
  height: 100%;
}

.popIn3 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  padding: 70px 15px 30px 15px;
  font-size: 1.5em;
  text-align: center;
  height: 100%;
}

.popIn4 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  padding: 70px 15px 30px 15px;
  font-size: 1.5em;
  text-align: center;
  height: 100%;
}

.hide_btn {
  display: none;
}

.hotspot:hover {
  background: red;
}

.btn_close {
  position: absolute;
  font-family: sans-serif;
  top: 5%;
  left: 92%;
  font-size: 2em;
  color: white;
  z-index: 4;
  font-weight: 900;
  display: none;
  cursor: pointer;
}

.btn_close_show {
  display: block;
}

.info_slides {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #607482;
  opacity: 0.7;
  display: none;
}

.info_slides2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.7;
  display: none;
}

.info_slides3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.7;
  display: none;
}

.info_slides4 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.7;
  display: none;
}

.info_slides_show {
  display: block;
}

.popIn-info {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 70px 15px 30px 15px;
  font-size: 1em;
  text-align: left;
  color: white;
  height: 100%;
}

.popIn-info2 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 70px 15px 30px 15px;
  font-size: 1em;
  text-align: left;
  color: white;
  height: 100%;
}

.popIn-info3 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 70px 15px 30px 15px;
  font-size: 1em;
  text-align: left;
  color: white;
  height: 100%;
}

.popIn-info4 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 70px 15px 30px 15px;
  font-size: 1em;
  text-align: left;
  color: white;
  height: 100%;
}

.popIn-info_close {
  display: none;
}

#security-desk {
  position: absolute;
  opacity: .6;
  top: 62%;
  left: 17.25%;
  z-index: 10;
  color: #fff;
}

#waiting-area {
  position: absolute;
  opacity: .6;
  top: 51%;
  left: 72.75%;
  z-index: 11;
  color: #fff;
}

/* Smartphones at vertical portrait width */

@media only screen and (min-width: 320px) {
  .centered-content {
    max-width: 480px;
    /* up to standard 480 width of smartphones at landscape orientation */
    margin: 5px;
  }
  h1 {
    font-size: 24px;
  }
  img {
    border: 1px solid #000;
  }
  h2 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
    color: #999;
    margin-top: -5px;
  }
  p {
    font-size: 12px;
  }
  figcaption {
    font-size: 10px;
  }
}

/* ============================ */

/* Smartphones at horizontal landscape width */

@media only screen and (min-width: 480px) {
  .centered-content {
    max-width: 768px;
    margin: 10px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
    margin-top: -5px;
  }
  img {
    border: 1px solid #000;
  }
  p {
    font-size: 14px;
  }
  figcaption {
    font-size: 12px;
  }
}

/* Tablets at vertical portrait width */

@media only screen and (min-width: 768px) {
  .centered-content {
    max-width: 992px;
    width: 768px;
    margin: auto;
  }
  h1 {
    font-size: 32px;
  }
  img {
    border: 1px solid #000;
  }
  h2 {
    font-size: 24px;
    margin-top: -5px;
  }
  p {
    font-size: 16px;
  }
  figcaption {
    font-size: 12px;
  }
}

/* Tablets at horizontal landscape width */

@media only screen and (min-width: 992px) {
  .centered-content {
    max-width: 1200px;
    width: 992px;
    margin: auto;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
    margin-top: -5px;
  }
  p {
    font-size: 18px;
  }
  img {
    border: 1px solid #000;
  }
  figcaption {
    font-size: 14px;
  }
}

/* Laptops and desktop monitors with large horizontal widths */

@media only screen and (min-width: 1200px) {
  .centered-content {
    max-width: 992px;
    width: 992px;
    margin: auto;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
    margin-top: -5px;
  }
  p {
    font-size: 18px;
  }
  img {
    border: 1px solid #000;
  }
  figcaption {
    font-size: 14px;
  }
  .mainText {
    width: 90% margin: auto;
    text-align: justify;
  }
}